<!doctype html><html><head><meta charset="utf-8">
<title>Static test of the JSPAT javascript</title>
<script type="text/javascript" src="../common.js"></script>
<script src="../pat.js"></script>
<script>
var cycle_i = 0, cycle_lst = ['pat', 'json']
function cycle() {
    cycle_i = (cycle_i + 1)%cycle_lst.length
    ge('cycle').textContent = cycle_lst[cycle_i]
    last = null
}

glob_data = init_data()
function pat(pat, data) {
    var mode = cycle_lst[cycle_i]
    if(mode=='pat') {
        return use_pat(read_pat(pat, 0), glob_funs, glob_data).join('')
    } else {
        return JSON.stringify(read_pat(pat, 0))
    }
}

identity_funs = {
    'default':function(cn, args){ return "{%" + cn + '|' + args.join('|') + "}" }
}
last = null

function str_dict(dict) {
    ret = ""
    for( var k in dict ){ ret += k + ':' + dict[k] + '\n' }
    return ret
}

function run() {
    if( ge('input').value != last ) {
        last = ge('input').value
        ge('output').textContent = pat(last)
        ge('identity_output').textContent = use_pat(read_pat(last, 0), identity_funs, {}).join('')
        ge('input').rows = last.split('\n').length

        ge('sublists').textContent = str_dict(glob_data.sublists)
        ge('needs').textContent    = str_dict(glob_data.needs)
        ge('need_c').textContent    = str_dict(glob_data.need_c)
    }
}
</script>
</head><body>

<h1>Static test of the JSPAT javascript</h1>
just uses the straight files and pattern input from textarea below.

<h3>input</h3>
<button id="cycle" onclick="cycle();run()">pat</button>
<button onclick="last=null;run();">Output</button><br>
<textarea  onkeydown="run();" cols=80 id="input"></textarea>

<h3>output</h3>
<pre id="output"></pre>

<h3>Identity output</h3>
<pre id="identity_output"></pre>

<h3>Sublists</h3>
<pre id="sublists"></pre>

<h3>Needs Components</h3>
<pre id="need_c"></pre>

<h3>Needs</h3>
<pre id="needs"></pre>

<h2>TODO</h2>
Doesn't really do tests other than just trying inputs.

<script>run()</script>

</body></html>
